@model ICollection<PlatformKeyDataViewModel>

<table class="table table-borderless table-wrapper text-center">
    <a class="btn btn-primary" href="/portfolio/AddKey">Add key</a>
    <thead>
        <tr>
            <th class="table-header">@nameof(PlatformKeyDataViewModel.Platform)</th>
            <th class="min-vw-75">@nameof(PlatformKeyDataViewModel.ApiSecret)</th>
            <th class="table-header">Delete Key</th>

        </tr>
    </thead>
    <tbody class="">
            @foreach (var key in Model)
            {
            @* Propably change this later to use javascript and have one form only instead of form for each row *@
            <form method="post" asp-controller="Portfolio" asp-action="RemoveKey">
                <tr>
                    <td>
                        <input type="hidden" name="@nameof(PlatformKeyDataViewModel.Id)" value="@key.Id" />
                    </td>
                    <td>@key.Platform</td>
                    <td>@key.ApiSecret</td>
                    <td>
                    <button type="submit" class="btn btn-secondary">Remove</button>
                    </td>
                </tr>
            </form>
            }
        
    </tbody>
</table>