@model ICollection<PlatformKeyDataViewModel>

<table class="table table-borderless table-wrapper text-center">
    <a class="btn btn-primary" href="/portfolio/AddKey">Add key</a>
    <thead>
        <tr>
            <th class="table-header">@nameof(PlatformKeyDataViewModel.Platform)</th>
            <th class="min-vw-75">@nameof(PlatformKeyDataViewModel.ApiSecret)</th>
            <th class="table-header">Delete Key</th>

        </tr>
    </thead>
    <tbody class="accordion">
        @foreach (var key in Model)
        {
            <tr>
                <td>@key.Platform</td>
                <td>@key.ApiSecret</td>
                <td>
                    @* <button type="" asp-controller="portfolio" asp-action="RemoveKey" asp-route-id="@key.Id" class="btn btn-secondary">Remove Key</button> *@
                </td>
            </tr>
        }
    </tbody>
</table>