@model List<PlatformKeyData>

<table class="table table-borderless table-wrapper text-center">
    <button asp-controller="Portfolio" asp-action="AddKey">Add key</button>
    <thead>
        <tr>
            <th class="table-header">@nameof(PlatformKeyData.Platform)</th>
            <th class="min-vw-75">@nameof(PlatformKeyData.ApiSecret)</th>
            <th class="table-header">Delete Key</th>

        </tr>
    </thead>
    <tbody class="accordion">
        @foreach (var key in Model)
        {
            <tr>
                <td>@key.Platform</td>
                <td>@key.ApiSecret</td>
                <td>
                    <a asp-controller="Client" asp-action="Delete" asp-route-id="@key.Id">
                        <img src="/Icons/delete.png" class="img-link" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>